<div class="row">
	<div class="col-sm-12">
		<h2>
			To Do:                         
			<button type="button" class="btn btn-success btn-sm" (click)=addToDo(0)
			 title="Add new To Do">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</h2>

		<ul *ngIf="currentProject.toDoList.length == 0">
			You've got nothing to do for this project!
		</ul>

		<ul id="To-Do-List">
			<li *ngFor="let todo of currentProject.toDoList">
				<div class="input-group">
					<input
					[id]="todo.htmlId" type="text" class="form-control"
					(keyup.enter)="onEnterKey($event, todo)" 
					(keyup.backspace)="onDeleteKey($event, todo)"
					[(ngModel)]="todo.message"
					(ngModelChange)="toDoMessageChange(todo)">

					<span class="input-group-btn">
						<button type="button" 
						class="btn btn-primary" 
						(click)=completeItem(todo)
						title="Complete To Do">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
					</span>	
				</div> <!-- End Input Group -->	
			</li>
		</ul>
	</div>

	<div class="col-md-6">
		<h2>Completed</h2>
		<ul *ngIf="currentProject.doneList.length == 0">
			<span>
							Nothing done yet!
			</span>
		</ul>
		<ul>
				<li *ngFor="let todo of currentProject.doneList">
					<span id={{todo.id}}>{{todo.message}}</span>
					<button type="button"
					class="btn btn-danger btn-sm"
					(click)=unCompleteItem(todo)
					title="UnComplete Item">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>  
				</li>
		</ul>   
	</div>
</div>
