<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
</div>

<div>
    <project></project>
</div>

<h1>Project: {{currentProjectName}} </h1>
<h2>To Do: </h2>
<ul>
  <li *ngFor="let todo of currentProject.toDoList" (click)="onSelect(todo)">
    <!-- <span>{{todo.id}}</span> {{todo.message}} -->
    <input id={{todo.id}}
            (keyup.enter)="onEnterKey($event, todo)" 
            (keyup.backspace)="onDeleteKey($event, todo)"
            [(ngModel)]="todo.message">
  </li>
</ul>

<div *ngIf="currentToDo">
  <h2>{{currentToDo.message}}</h2>
</div>

