<h2>To Do: </h2>
<ul>
        <li *ngFor="let todo of currentProject.toDoList">
                <input
                        id={{todo.id}}
                        (keyup.enter)="onEnterKey($event, todo)" 
                        (keyup.backspace)="onDeleteKey($event, todo)"
                        [(ngModel)]="todo.message">
                <button (click)=completeItem(todo)>Done!</button>
        </li>
</ul>

<h2>Completed</h2>
<ul>
        <li *ngFor="let todo of currentProject.doneList">
                <span id={{todo.id}}>{{todo.message}}</span>
                <button (click)=unCompleteItem(todo)>Not Done!</button>  
        </li>
</ul>   