<body>
  <app-header></app-header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Projects <button type="button" class="btn btn-success btn-large" 
          (click)="addProject()">
            Add 
          </button>
        </h1>

        <!-- <ul> -->
          <h2 *ngFor="let project of projects" 
            (click)="onProjectSelect(project)">
            <a> <!-- add active -->
              <ng-container *ngIf="project.name != ''; else projectNameless" >
                  {{project.name}}
              </ng-container>
              <ng-template #projectNameless>
                  [No Name]
              </ng-template>
          </a>     
        </h2>
        <!-- </ul> -->
      </div> <!-- End Col -->
    </div> <!-- End Row -->
  </div> <!-- end container -->
</body>