<!-- Used for projects page -->
<body>
  <app-header></app-header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Projects</h1>
        <button type="button" class="btn btn-success btn-large" 
          (click)="addProject()">
            Add 
          </button>

        <!-- <ul> -->
          <h2 *ngFor="let project of projects" 
            (click)="onProjectSelect(project)">
            <a> <!-- add active -->
              <project-detail [project]="project"></project-detail>          
          </a>     
        </h2>
        <!-- </ul> -->
      </div> <!-- End Col -->
    </div> <!-- End Row -->
  </div> <!-- end container -->
</body>